@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.newsreader-shop-body {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;

}
/* gorcery shop heading/nav section style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.shop-name{
    color:#426B1F;
    font-size: 32px;
    font-weight: 500;
}
.shop-heading{
    color: #000000;
}
.shop-color{
    background-color: #426B1F;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}
/* main section style */
 
main{
    margin: 30px 120px;
}
.around-items{
    display: flex;
    align-items:center;
}
.basket{
    font-size: 64px;
    margin-right: 30px;
    font-weight: 400;
}
.basket-2{
    font-size: 20px;
    color: #000000;
}
.product{
    display: flex;
    background-color: #FAFAF5;
    gap: 20px;
    width: 195%;
    margin: 30px;
    border: 1px solid rgb(186, 183, 180);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.weight{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    width: 50px;
}
.items{
    font-size: 20px;
    font-weight: 700;
}
.price{
    font-size: 20px;
    color: #426B1F;
}

/* sell summery style */

.sell{
    display: flex;
     justify-content: space-between;
    align-items: center;
}
.super-sell{
    border: 1px solid rgb(186, 183, 180);
    background-color: #FAFAF5 ;
    width: 30%;
    padding: 25px;
    border-radius: 24px;
    width: 40%;
    margin-left: 440px;
    margin-top: 30px;
   
}
.subtotal{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.8;
}
.order{
    font-size: 20px;
}
.now{
    font-weight:900;
    color: #000000;
}
.sell-done{
    background-color: #426B1F;
    padding: 10px 30px;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 20px;
    width: 80%;
}
.production{
    display: flex;
}
.flex{
    display: flex;
    align-items: center;
    
}
